/* E D U C A T I O N   &   E X P E R I E N C E   section */
#education > .row > div,
#experience > .row > div{
    display: inline-block;
    position: relative;
    width: calc( 50% + 33px );
}
    #education > .row > .righty::before,
    #experience > .row > .righty::before{
        content: "";
        display: inline-block;
        position: absolute;
        float: right;
        width: 2px;
        left: 38px;
        top: 70px;
        bottom: 0px;
        background-color:var(--lightGrey-color);
        z-index: -1;;
    }
    #education > .row > .lefty::before,
    #experience > .row > .lefty::before{
        content: "";
        display: inline-block;
        position: absolute;
        float: right;
        width: 2px;
        right: 38px;
        top: 70px;
        bottom: 0px;
        background-color:var(--lightGrey-color);
        z-index: -1;;
    }
        #education > .row > .side:last-child::before,
        #experience > .row > .side:last-child::before{
            display: none;
        }

    #education > .row > .lefty,
    #experience > .row > .lefty{
        float: left;
    }
    #education > .row > .righty,
    #experience > .row > .righty{
        float: right;
    }
        #education > .row > div > .data,
        #experience > .row > div > .data{
            display: inline-block;
            position: relative;
            float: right;
            width: 77px;
            height: 76px;
            border: 5px solid white;
            border-radius: 50%;
            background-color: var(--main-color);
            box-shadow: 0 4px 6px 0 rgba(0,0,0,.4);
            padding: 11px;
            color: var(--lighterText-color);
        }
        #education > .row > .lefty > .data,
        #experience > .row > .lefty > .data{
            float: right;    
        }
        #education > .row > .righty > .data,
        #experience > .row > .righty > .data{
            float: left;    
        }
            #education > .row > div > .data > .month,
            #education > .row > div > .data > .year,
            #experience > .row > div > .data > .month,
            #experience > .row > div > .data > .year{
                display: inline-block;     
                width: 100%;
                font-weight: bolder;
                line-height: 20px;
            }
            #education > .row > div > .data > .month,
            #experience > .row > div > .data > .month{
                font-size: 15px;
                }
            #education > .row > div > .data > .year,
            #experience > .row > div > .data > .year{
                font-size: 25px;
            }

            #education > .row > div > .text,
            #experience > .row > div > .text{
                display: none;
                position: relative;
                top:0px;
                float: left;
                width: calc(100% - 100px);
                border-radius: 5px;
                border: 1px solid var(--lightGrey-color);
                box-shadow: 0 3px 14px -4px rgba(0,0,0,.4);
                padding: 15px;  
                transition: background-color 1s;
                z-index: 2;
                width: calc(100% - 100px);
                animation-duration: 1s;
                animation-iteration-count: 1;
                animation-timing-function: ease;
            }
            #education > .row > div > .text.animation{
                display: inline-block;
                animation-name: falling;
            }
            #experience > .row > .lefty > .text.animation{
                display: inline-block;
                animation-name: sliding-right;
            }
            #experience > .row > .righty > .text.animation{
                display: inline-block;
                animation-name: sliding-left;
            }

                #education > .row > .lefty > .text,
                #experience > .row > .lefty > .text{
                    float: left;
                    left: 0px;
                    text-align: right;
                }
                #education > .row > .righty > .text,
                #experience > .row > .righty > .text{
                    float: right;
                    right: 0px;
                    text-align: left;
                }
                #education > .row > .lefty > .text::after,
                #experience > .row > .lefty > .text::after,
                #education > .row > .righty >.text::after,
                #experience > .row > .righty >.text::after{
                    content: "";
                    position: absolute;
                    width: 0px;
                    height: 0px;
                    top: 30px;
                    transform: rotate(270deg);
                    transition: border-bottom 1s;
                    transition: background-color 1s;
                }
                #education > .row > .lefty >.text::after,
                #experience > .row > .lefty >.text::after{
                    border-bottom: 0px solid transparent;
                    border-right: 20px solid transparent;
                    border-top: 20px solid white;
                    border-left: 20px solid transparent;
                    right: -30px;
                }
                #education > .row > .righty >.text::after,
                #experience > .row > .righty >.text::after {
                    border-top: 0px solid transparent;
                    border-right: 20px solid transparent;
                    border-bottom: 20px solid white;
                    border-left: 20px solid transparent;
                    left: -30px;
                }

                #education > .row > .lefty > .text::before,
                #experience > .row > .lefty > .text::before,
                #education > .row > .righty >.text::before,
                #experience > .row > .righty >.text::before {
                    content: "";
                    position: absolute;
                    width: 0px;
                    height: 0px;
                    top: 30px;
                    transform: rotate(270deg);
                    transition: border-bottom 1s;
                    transition: background-color 1s;
                }
                #education > .row > .lefty > .text::before,
                #experience > .row > .lefty > .text::before{
                    right: -31px;
                    border-bottom: 0px solid transparent;
                    border-right: 20px solid transparent;
                    border-top: 20px solid var(--lightGrey-color);
                    border-left: 20px solid transparent;
                }
                #education > .row > .righty >.text::before,
                #experience > .row > .righty >.text::before {
                    left: -31px;
                    border-top: 0px solid transparent;
                    border-right: 20px solid transparent;
                    border-bottom: 20px solid var(--lightGrey-color);
                    border-left: 20px solid transparent;
                }
                    #education > .row > div > .text > .degree,
                    #education > .row > div > .text > .school,
                    #experience > .row > div > .text > .degree,
                    #experience > .row > div > .text > .school{
                        display: inline-block;
                        width: 100%;
                    }
                    #education > .row > div > .text > .degree,
                    #experience > .row > div > .text > .degree{
                        text-transform: uppercase;
                        font-size: 20px;
                        line-height: 20px;
                    }
                    #education > .row > div > .text > .school,
                    #experience > .row > div > .text > .school{
                        margin: 10px 0;
                        font-weight: bolder;
                    }
                    #education > .row > .lefty > .text > .school,
                    #experience > .row > .lefty > .text > .school{
                        float: right;
                    }
                    #education > .row > .righty > .text > .school,
                    #experience > .row > .righty > .text > .school{
                        float: left;
                    }

                        #education > .row > div > .text > .school > p,
                        #experience > .row > div > .text > .school > p{
                            display: inline-block;
                            font-size: 15px;
                            line-height: 15px;
                            color: var(--lightText-color);
                            padding: 0;
                        }
                        #education > .row > div > .text > .school > span,
                        #experience > .row > div > .text > .school > span{
                            display: inline-block;
                            width: 1px;
                            height: 15px;
                            background-color: var(--text-color);
                            margin: 0 5px;
                        }
                        #education > .row > div > .text > .school :first-child,
                        #experience > .row > div > .text > .school :first-child{
                            color: var(--main-color);
                        }
                        #education > .row > div > .text > .school :last-child,
                        #experience > .row > div > .text > .school :last-child{
                            color: var(--text-color);
                        }
                    #education > .row > div > .text > .outline,
                    #experience > .row > div > .text > .outline{
                        display: inline-block;
                        width: 100%;
                        font-size: 18px;
                        line-height: 18px;
                        padding: 0;
                    }
                    
                #education > .row > div > .text:hover,
                #experience > .row > div > .text:hover{
                    background-color: var(--main-color);
                }
                    #education > .row > div > .text:hover .degree,
                    #experience > .row > div > .text:hover .degree {
                        color: var(--lighterText-color);
                    }
                    #education > .row > div > .text:hover .outline,
                    #experience > .row > div > .text:hover .outline {
                        color: var(--lighterText-color);
                    }
                    #education > .row > div > .text:hover .school :first-child,
                    #experience > .row > div > .text:hover .school :first-child {
                        color: var(--lighterText-color);
                    }
                    #education > .row > div > .text:hover::before,
                    #experience > .row > div > .text:hover::before,
                    #education > .row > div > .text:hover::after,
                    #experience > .row > div > .text:hover::after {
                        display: none;
                        background-color: transparent;        
                        border-color: transparent;
                    }

                    @keyframes sliding-right {
                        0%{
                            left: -600px;
                        }
                        100%{
                            left: 0px;
                        }
                    }
                    @keyframes sliding-left {
                        0%{
                            right: -600px;
                        }
                        100%{
                            right: 0px;
                        }
                    }

@media ( max-width: 1300px ) {
#education > .row > div,
#experience > .row > div{
    width: calc( 50% + 34px );
}
    #education > .row > div > .data, 
    #experience > .row > div > .data {
        width: 76px;
    }
        #education > .row > div > .data::before,
        #experience > .row > div > .data::before{
            right: 34px;
            }
}
@media ( max-width: 1250px ){
    #education > .row > div > .data, 
    #experience > .row > div > .data {
        width: 75px;
    }
}
@media ( max-width: 1000px ){
    #education > .row > div,
    #experience > .row > div{
        width: calc( 50% + 35px );
    }
        #education > .row > div > .data, 
        #experience > .row > div > .data {
            width: 76px;
        }
}

@media ( max-width: 900px ) {

#education > .row > div,
#experience > .row > div{
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    float: left;
    margin-left:0px;
    padding-bottom: 0px;  
}
    #education > .row > .lefty > .data,
    #experience > .row > .lefty > .data,
    #education > .row > .righty > .data,
    #experience > .row > .righty > .data{
        float: left;
    }
        #education > .row > .side::before,
        #experience > .row > .side::before{
            left: 38px;
            bottom: -20px;
        }
    #education > .row > .lefty > .text,
    #experience > .row > .lefty > .text,
    #education > .row > .righty > .text,
    #experience > .row > .righty > .text{
        float: left;
        text-align: left; 
        left: 25px;
    }
    #experience > .row > .lefty > .text.text.animation,
    #experience > .row > .righty > .text.text.animation{
        animation-name: sliding-right;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-timing-function: ease;
    }
        #education > .row > .lefty > .text::after, 
        #education > .row > .righty >.text::after,
        #experience > .row > .lefty > .text::after, 
        #experience > .row > .righty >.text::after {
            border-top: 0px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid white;
            border-left: 20px solid transparent;
            left: -30px;
        }
        #education > .row > .lefty > .text::before, 
        #education > .row > .righty >.text::before,
        #experience > .row > .lefty > .text::before, 
        #experience > .row > .righty >.text::before {
            border-top: 0px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid var(--lightGrey-color);
            border-left: 20px solid transparent;
            left: -31px;
        }
        @keyframes sliding-right {
            0%{
                left: 600px;
            }
            100%{
                left: 30px;
            }
        }
}
@media ( max-width: 600px ){
    #education > .row > .lefty > .text,
    #experience > .row > .lefty > .text,
    #education > .row > .righty > .text,
    #experience > .row > .righty > .text{
        padding: 15px;
    }
}
@media ( max-width: 500px ){
}

@media ( max-width: 400px ){
        #education > .row > div > .data,
        #experience > .row > div > .data{
            width: 50px;
            height: 50px;
            border: 3px solid white;
            padding: 8px;
        }
        #education > .row > .side::before,
        #experience > .row > .side::before{
            left: 25px;
            top: 1px;
            bottom: -20px;
        }
            #education > .row > div > .data > .month,
            #education > .row > div > .data > .year,
            #experience > .row > div > .data > .month,
            #experience > .row > div > .data > .year{
                line-height: 10px;
            }
            #education > .row > div > .data > .month,
            #experience > .row > div > .data > .month{
                font-size: 10px;
                }
            #education > .row > div > .data > .year,
            #experience > .row > div > .data > .year{
                font-size: 20px;
            }
            #education > .row > div > .data::before, 
            #experience > .row > div > .data::before {
                height: 250px;
                right: 20px;
                top: 45px;
            }
        #education > .row > .lefty > .text,
        #experience > .row > .lefty > .text,
        #education > .row > .righty > .text,
        #experience > .row > .righty > .text{
            width: calc(100% - 60px);
        }
            #education > .row > .lefty > .text::after,
            #experience > .row > .lefty > .text::after,
            #education > .row > .righty >.text::after,
            #experience > .row > .righty >.text::after,
            #education > .row > .lefty > .text::before,
            #experience > .row > .lefty > .text::before,
            #education > .row > .righty >.text::before,
            #experience > .row > .righty >.text::before{
                    top: 15px;
                }
            /* #education > .row > .lefty > .text::before,
            #education > .row > .righty >.text::before,
            #experience > .row > .lefty > .text::before,
            #experience > .row > .righty >.text::before {
                top: 15px;
    } */
}
@media ( max-width: 360px ){
}
@media ( max-width: 320px ){
}
@keyframes falling {
    0%{
        top: -150px;
    }
    100%{
        top: 0px;
    }
}


