html {
    scroll-behavior: smooth;
}
body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}

.bg-main {
    background-color: var(--main-color);
}
.bg-blackText {
    background-color: var(--blackText-color);
}
.bg-grey {
    background-color: var(--background-color);
}
.bg-black {
    background-color: var(--black-color);
}
.tc-light {
    background-color: var(--lightText-color);
}
body > .pop-up {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,.7);
    z-index: 30;
    animation-name: blacky;
    animation-duration: 1s;
}
@keyframes blacky {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
    body > .pop-up > .pop-up-inner {
        display: inline-block;
        position: absolute;
        width: 40%;
        height: 40%;
        background-color: #fff;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 35;
        animation-name: high-five;
        animation-duration: 2s;
    }
    @keyframes high-five {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
        body > .pop-up > button {
            display: inline-block;
            position: absolute;
            top: 28%;
            left: 69%;
            font-weight: bolder;
            font-size: 25px;
            border: none;
            background-color: transparent;
            outline: 0;
            color: #fff;
            transition: font-size 500ms;
        }
        body > .pop-up > button:hover {
            cursor: pointer;
            font-size: 20px;
        }

.container {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 50px 0;
}
    .container > .row {
        display: inline-block;
        position: relative;
        width: 1200px;
        margin: 0 calc((100% - 1200px) / 2);
        padding: 30px;
        text-align: center;
    }
    .col-1, .col-2, .col-3, .col-4,
    .col-5, .col-6, .col-7, .col-8,
    .col-9, .col-10, .col-11, .col-12 {
        display: inline-block;
        float: left;
        padding: 0 10px;
        min-height: 1px;
    }

    .col-12 { width: 100%; }
    .col-11 { width: calc(100% / 12 * 11); }
    .col-10 { width: calc(100% / 12 * 10); }
    .col-9 { width: 75%; }
    .col-8 { width: calc(100% / 12 * 8); }
    .col-7 { width: calc(100% / 12 * 7); }
    .col-6 { width: 50%; }
    .col-5 { width: calc(100% / 12 * 5); }
    .col-4 { width: calc(100% / 12 * 4); }
    .col-3 { width: 25%; }
    .col-2 { width: calc(100% / 12 * 2); }
    .col-1 { width: calc(100% / 12); }

        .container > .row > .hamburger-menu {
            position: relative;
        }
        h2{
            position: relative;
            display: inline-block;
            font-size: 35px;
            text-transform: uppercase;
            line-height: 45px;
            font-weight: 800;
            color: var(--blackText-color);
        }
            h2::after {
                content:"";
                display: block;
                position: absolute;
                left: calc(50% - 40px);
                background-color: var(--main-color);
                height: 2px;
                width: 80px;
            }
        p{
            font-size: 20px;
            line-height: 25px;
            color: var(--text-color);
            padding: 20px 0 0 0;
        }
/* HEADER section */
        .header{
            position: fixed;
            padding: 5px 0px;
            background-color: var(--background-color);
            z-index: 10;
            box-shadow: 2px 0 12px 0 rgba(0,0,0,.4);
        }
        .home{
            box-shadow: 0 -6px 20px;
        }

        .header > .row{
            padding: 5px 0px;
        }
        .container > .row > a > img {
            display: inline-block;
            float: left;
        }
        .container > .row > nav {
            display: inline-block;
            float: right;
        }
            .container > .row > nav > a {
                display: inline-block;
                float: left;
                text-transform: uppercase;
                text-decoration: none;
                color: var(--main-color);
                font-weight: bold;
                font-size: 15px;
                line-height: 40px;
                padding: 0px 15px;
                margin: 5px 0 0 0;
                background-color: transparent;
                border-radius: 30px;
            }
            .container > .row > nav > .home-active {
                background-color: var(--main-color);
                color: #fff;
                border-radius: 30px;
                /* border-left: 3px solid #7BAFAA;  => ar sito cia reikia? 
                border-bottom: 2px solid #7BAFAA;
                box-shadow: -3px 3px 8px 0px grey; */
            }
            .container > .row > nav > .active {
                background-color: var(--main-color);
                color: #fff;
                border-radius: 30px;
                /* border-left: 3px solid var(--main-color);
                border-bottom: 2px solid var(--main-color);
                box-shadow: -3px 3px 8px 0px var(--main-color); */
            }
            
/* HERO section */
        .hero{
            background-image: url(../img/hero/hero_bg.png);
            height: 100vh;
            background-position: 80% 100%;
            background-repeat: no-repeat;
            background-size: 42vh;
            padding: 95px 0px;
        }
            .hero .heroPart {
                display: inline-block;
                position: relative;
                padding: 80px 0;
                width: 100%;
                height: 70vh;
                z-index: 5;
                background-color: transparent;
            }             
                        .hero h1{
                            position: relative;
                            display: inline-block;
                            font-size: 55px;
                            text-transform: uppercase;
                            line-height: 55px;
                            font-weight: 800;
                            color: var(--blackText-color);
                            width: 100%;
                            text-align: left;
                        }
                        .hero p{
                            text-align: left;
                            margin: 30px 0;
                            padding: 0 35% 0 0;
                        }
                        .hero  h1::after {
                            left: 60px;  /*kodėl 60? nežinau kol kas kaip padaryti automatiškai*/
                            content:"";
                            display: block;
                            position: absolute;
                            background-color: var(--main-color);
                            height: 2px;
                            width: 120px;
                            margin: 10px 0;
                        }
                        .hero .icons{
                            display: inline-block;
                            width: 100%;
                            height: 40px;
                        }
                        .hero .icons > div{
                                display: inline-block;
                                float: left;
                                position: relative;
                                height: 40px;
                                width: 40px;
                                line-height: 40px;
                                margin: 0 5px;
                                border-radius: 50%;
                                border: 1px solid var(--main-color);
                                background-color: var(--icon-color1);
                                box-shadow: 0 5px 11px 0 var(--shadow-color);
                                overflow: hidden;
                                text-align: center;
                            }
                            .hero a{
                                display: inline-block;
                                position: absolute;
                                float: left;
                                top: -1px;
                                left: -1px;
                                padding: 19px 11px;
                                line-height: 0px;
                                font-size: 20px;
                                color: var(--main-color);
                                text-decoration: none;
                                text-align: center;
                                border-radius: 50%;
                                border: 1px solid transparent;
                            }
                            .hero .fa-facebook{
                                padding: 20px 14px;
                            }
                                .hero a:hover{
                                    color: var(--icon-color1);
                                }
                                .hero .icons > div:hover{
                                    background-color: var(--main-color)
                                }
                                    .hero .icons > div:hover a{ /*(kai suveiks hoveris po snaige - įsijungs snaigės animacija) */
                                        cursor: pointer;
                                        animation-name: animacija;
                                        animation-duration: 0.4s;
                                        animation-timing-function: cubic-bezier(1, .3, .3, 1);
                                        animation-iteration-count: 1;
                                        animation-fill-mode: forwards;
                                        animation-timing-function:ease-in-out;
                                    }
                                        @keyframes animacija{
                                            0%      {top:0px;}
                                            49.9%   {top:28px;}
                                            50%     {top:-28px;}
                                            100%    {top:0px;}
                                        }
                        .hero .heroPart >.button {
                            display: inline-block;
                            float: left;
                        }
    .container > .powered {
        display: inline-block;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        height: 40px;
        line-height: 40px;
        z-index: 60;
        right: 40px;
        bottom: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
        .container > .powered > span {
            font-family: Lobster,"Open Sans",sans-serif;
            padding: 0 20px;
            font-size: 18px;
            color: var(--main-color);
        }
/* ABOUT ME section */

    .container > .left-link {
        position: absolute;
        display: inline-block;
        text-decoration: none;
        color: var(--main-color);
        left: 0;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
        font-weight: bold;
    }
    .container > .right-link {
        position: absolute;
        display: inline-block;
        text-decoration: none;
        color: var(--main-color);
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        font-weight: bold;
    }     
        .container > .right-link > .fa-long-arrow-right {
            margin-top: 2px;
        }
        .container > .left-link > .fa-long-arrow-right {
            margin-top: 2px;
        }
        .row > .left {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            float: left;
        }
            .row > .left > img {
                height: 100%;
                width: 100%;
            }
            .row > .left > .video-overlay {
                position: absolute;
                background: var(--main-color);
                width: 100%;
                height: 100%;
                opacity: .28;  
            }
            .row > .left > a {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                height: 64px;
                width: 64px;
                font-size: 30px;
                padding: 16px;
                border: 1px solid #fafafa;
                color: #fafafa;
                text-decoration: none;
                transition: .7s;
            }
            .row > .left > a:hover {
                background: #fafafa;
                transition: .7s;
            }
                .row > .left > a > .fa-play {
                    line-height: inherit;
                    padding: 15px 19px;
                }
                .row > .left > a > .fa-play:hover {
                    color: var(--main-color);
                }
                
        .row > .right {
            display: inline-block;
            width: 50%;
            float: left;
        }
            .row > .right > h3 {
                font-size: 19px;
                text-transform: uppercase;
                color: var(--black-color);
                font-weight: 700;
                margin-top: 10.89px;
                margin-bottom: 40px;            
            }
            .row > .right > .personal-info {
                display: block;
            }
                .row > .right > .personal-info > .personal-info-blocks {
                    display: inline-block;
                    width: 100%;
                    margin-top: 12px;
                    font-size: 16px;
                    word-spacing: 4px;
                    text-transform: capitalize;
                }
                    .personal-info > .personal-info-buttons > a {
                        display: inline-block;
                        text-decoration: none;
                    }
                    .personal-info > .personal-info-blocks > .labels {
                        color: var(--main-color);
                    }

/* MY SERVICES section */
#services > .row > #myServices{
    display: inline-block;
    float: left;
    width: 100%;
    padding: 20px 0 0 0;
} 
#services > .row > #myServices > .service{
    display: inline-block;
    position: relative;
    float: left;
    width: 25%;
    padding: 10px 10px;
    text-align: center;
} 
    #services > .row > #myServices > .service:hover .fa{
        animation-name: iconAnimation;
        animation-duration: .2s;
        animation-timing-function: cubic-bezier(1, 1, 1, 1);
        animation-iteration-count: 1;
        animation-timing-function:ease-in-out;
    }
    @keyframes iconAnimation { 
        from { 
            transform: rotateY(-90deg);
        } to { 
            transform: rotateY(90deg);
        }
    }
    #services > .row > #myServices > .service > .fa{
        font-size: 60px;
        line-height: 100px;
        color: var(--main-color);
    }
    #services > .row > #myServices > .service > h3{
        font-size: 25px;
        line-height: 35px;
        text-transform: uppercase;
    }
        #services > .row > #myServices > .service > h3::after {
            content:"";
            display: block;
            position: absolute;
            left: calc(50% - 30px);
            background-color: var(--main-color);
            height: 1px;
            width: 60px;
        }

    #services > .row > #myServices > .service > p{
        font-size: 18px;
        line-height: 20px;
        padding: 15px 0;
    } 
/* SKILLS section */

        .row > .progress-block {
            width: 49%;
            display: inline-block;
            margin-bottom: 30px;
            padding: 0 10px;
        }
        .row > .progress-block > .texts {
            display: inline-block;
            width: 100%;
            font-size: 15px;
            color: var(--text-color);
            font-weight: bold;
            text-transform: uppercase;
        }
            .progress-block > .texts > .title {
                display: inline-block;
                float: left;
            }
            .progress-block > .texts > .value {
                display: inline-block;
                float: right;
            }
        .row > .progress-block > .bar {
            text-align: left;
            display: inline-block;
            width: 100%;
            height: 5px;
            background-color: var(--lightText-color);
            border-radius: 3px;
        }
            .progress-block > .bar > .bar-value {
                display: inline-block;
                height: 100%;
            }
                .progress-block > .bar > .bar-value > .bar-fill {
                    display: inline-block;
                    height: 100%;
                    border-radius: 3px;
                    background-color: var(--main-color);
                    width: 100%;
                }
                .progress-block > .bar > .bar-value > .bar-fill.barAnimation {
                    animation-name: filling;
                    animation-duration: 2s;
                }
        @keyframes filling {
            0% {
                width: 0%;
            }
            100% {
                width: 100%;
            }
        }

/* EXPERIENCE section */

/* STATISTICS section */
#activities > .row > .statistics{
    display: inline-block;
    float: left;
    width: 33.3%;
    text-align: center;
}
    #activities > .row > .statistics > .fa{
        font-size: 80px;
        line-height: 90px;
        color: var(--lightText-color);
    }
    #activities > .row > .statistics > .number{
        font-size: 60px;
        line-height: 70px;
        font-weight: 800;
        color: var(--main-color);
    }
    #activities > .row > .statistics > .name{
        font-size: 20px;
        line-height: 30px;
        color: var(--lightText-color);
        text-transform: uppercase
    }

/* FREELANCE section */

    .container > .personal-color {
        color: #fff;
    }
    #availibility > .row > h2{
        width: 100%;
        margin-bottom: 30px;
    }
    #availibility > .row > a{
        width: 25%;
        font-size: 30px;
        line-height: 30px;
        text-decoration: none;
    }

/* MY PORTFOLIO section */
/* TESTIMONIALS section */

/* MY BLOGS section */
#blogs {
    text-align: center;
}
    #blogs > #blog-list{
        display: inline-grid;
        grid-template-columns: auto auto auto;
    }
        .container > .row > .blog {
            display: inline-block;
            position: relative;
            float: left;
            width: 97%;
            box-shadow: 2px 0 12px 0 rgba(0,0,0,.4);
            /* min-height: 550px; */
        }
            .row > .blog:nth-child(3n+1) {
                margin-left: 0;
            }
            .row > .blog > .img {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                height: 250px;
                width: 100%;
            }
            .row > .blog > .name-and-photo > .img-2 {
                display: inline-block;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                height: 60px;
                width: 60px;
                border-radius: 50%;
            }

            .row > .blog > .blog-meta {
                position: relative;
                padding: 20px;
                text-align: left;
                min-height: 200px;
                margin-bottom: 50px;
            }
                .row > .blog > .name-and-photo {
                    width: 100%;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    padding-left: 20px;
                    bottom: 10px;
                }
                    .row > .blog > .name-and-photo > .usual-text {
                        display: inline-block;
                        padding: 0 5px 0 15px;
                    }

                .blog > .blog-meta > span,
                .blog > .name-and-photo > span {
                    font-weight: bold;
                }
                    .blog > .blog-meta > span,
                    .blog > .name-and-photo > .color-text {
                        display: inline-block;
                        color: var(--main-color);
                    }
                .blog > .blog-meta > h3 {
                    font-weight: bold;
                    margin-top: 10px;
                    margin-bottom: 14px;
                }
                .blog > .blog-meta > p {
                    margin: 0 0 10px;
                }
                
                .blog > .blog-meta > .socials > .fa {
                    display: inline-block;
                    position: absolute;
                    text-align: center;
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    background-color: #fff;
                    box-shadow: 2px 0 12px 0 rgba(0,0,0,.4);
                    color: var(--main-color);
                    font-size: 25px;
                    line-height: 50px;
                    text-decoration: none;
                    top: -25px;
                    right: 25px;
                    transition: all .4s ease-in-out;
                }
                     .blog > .blog-meta > .socials:hover .fa.up {
                        box-shadow: 0 4px 8px #CCC;
                        color: #55ACEE;
                        top: -100px;
                        right: 25px;
                    }
                        .blog > .blog-meta > .socials > .fa.up:hover {
                            cursor: pointer;
                            box-shadow: 0 6px 12px #333;
                        }
                    
                    .blog > .blog-meta > .socials:hover .fa.corner {
                        box-shadow: 0 4px 8px #CCC;
                        color: #DC4E41;
                        top: -75px;
                        right: 75px;
                    }
                        .blog > .blog-meta > .socials > .fa.corner:hover {
                            cursor: pointer;
                            box-shadow: 0 6px 12px #333;
                        }
                    .blog > .blog-meta > .socials:hover .fa.right {
                        box-shadow: 0 4px 8px #CCC;
                        color:#4867AA;
                        top: -25px;
                        right: 100px;
                    }
                        .blog > .blog-meta > .socials > .fa.right:hover {
                            cursor: pointer;
                            box-shadow: 0 6px 12px #333;
                        }

                .blog > .blog-meta > .socials > .fa:hover {
                    cursor: pointer;
                    box-shadow: 0 6px 12px #333;
                }
                .blog > .blog-meta > .socials :nth-child(1) {
                    z-index: 1;
                }
                .blog > .blog-meta > .socials :nth-child(2),
                .blog > .blog-meta > .socials :nth-child(3),
                .blog > .blog-meta > .socials :nth-child(4) {
                    box-shadow: none;
                }
                    .blog-meta > .socials > .social-layer > i {
                        display: inline-block;
                        color: var(--main-color);
                        font-size: 26px;
                        line-height: inherit;

                    }
                #blogs > .button{
                    display: inline-block;
                    text-decoration: none;
                }

/* CONTACT ME section */
.row > form {
    width: 1000px;
}
    
/* BOTTOM NAVIGATION section */
    .bottom {
        position: relative;
        padding: 20px 0;
    }
    .bottom > .row {
        display: inline-block;
        color: var(--lightText-color);
        text-align: center;
        padding: 20px;
    }   
    .bottom > .row > .icons{
        display: inline-block;
        height: 40px;
        padding: 0 calc(50% - 125px); /*reikia kažkaip gudriai suskaičiuoti...*/
    }
    .bottom > .row > .icons > div{
            display: inline-block;
            float: left;
            position: relative;
            height: 40px;
            width: 40px;
            line-height: 40px;
            margin: 0 5px;
            border-radius: 50%;
            background-color: var(--main-color);
            box-shadow: 0 5px 11px 0 var(--shadow-color);
            overflow: hidden;
            text-align: center;
        }
        .bottom > .row > .icons > div > a{
            display: inline-block;
            position: absolute;
            float: left;
            top: 0px;
            left: 0px;
            padding: 20px 12px;
            line-height: 0px;
            font-size: 20px;
            color: var(--icon-color1);
            text-decoration: none;
            text-align: center;
            border-radius: 50%;
        }
        .bottom > .row > .icons > div > .fa-facebook{
            padding: 20px 15px;
        }
        .bottom > .row > .icons > div > a:hover{
                color: var(--main-color);
            }
            .bottom > .row > .icons > div:hover{
                background-color: var(--icon-color1);
            }
            .bottom > .row > .icons > div:hover a{ /*(kai suveiks hoveris po snaige - įsijungs snaigės animacija) */
                    cursor: pointer;
                    animation-name: animacija;
                    animation-duration: 0.4s;
                    animation-timing-function: cubic-bezier(1, .3, .3, 1);
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                    animation-timing-function:ease-in-out;
                }
                    @keyframes animacija{
                        0%      {top:0px;}
                        49.9%   {top:28px;}
                        50%     {top:-28px;}
                        100%    {top:0px;}
                    }
    .bottom > .row > .navigation-bottom-lane {
        display: inline-block;
        width: 100%;
    }  
        .bottom > .row > .navigation-bottom-lane > a {
            text-decoration: none;
            font-weight: bold;
            color: #C9D3DC;
            text-transform: uppercase;
            padding: 0 5px;
        }
        .bottom > .row > .navigation-bottom-lane > a:hover {
            color: #fff;
            transition: 1s;
        }
    .bottom > .bottom-nav-block {
        position: absolute;
        display: block;
        width: 45px;
        height: 45px;
        top: 20px;
        right: 25px;
        background-color: var(--main-color);
        box-shadow: 0 2px 6px 0 rgba(0,0,0,.7);
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .bottom-nav-block > .fa-angle-up {
            position: absolute;
            font-size: 32px;
            line-height: 38px;
            text-decoration: none;
            color: #fff;
        }

        /* BOTTOM NAVIGATION section END */

/* FOOTER section */
.footer.container {
    height: 50px;
    padding: 0;
}
.footer > .row{
    padding: 0;
}
    .footer > .row > p{
        color: var(--lighterText-color);
        padding: 15px 0;
        font-size: 15px;
        line-height: 20px;
    }

    @media ( min-width: 1001px ) { /*gal reikėtų meniu palikti ilgiau ?*/
            .container > .row > #hamburger{
                display: none;
            }
            /* .container > .row > nav {
                display: inline-block;
            } */
        }

    @media ( max-width: 1300px ) {
        .container > .row {
            width: 900px;
            margin: 0 calc((100% - 900px) / 2);
        }
            
            

/* HERO section */

/* ABOUT ME section */

/* MY SERVICES section */

/* EDUCATION section */

/* SKILLS section */

/* EXPERIENCE section */

/* STATISTICS section */

/* FREELANCE section */

/* MY PORTFOLIO section */
/* TESTIMONIALS section */

/* MY BLOGS section */

/* CONTACT ME section */

.row > form {
    width: 700px;
}

/* BOTTOM NAVIGATION section */

/* FOOTER section */
        }
    @media ( max-width: 1250px ) {
        .container > .row {
            width: 900px;
            margin: 0 calc((100% - 900px) / 2);
        }
/* HERO section */
.hero{
    background-position: 85% 100%;
    background-size: 42vh;
}

/* ABOUT ME section */

/* MY SERVICES section */

/* EDUCATION section */

/* SKILLS section */

/* EXPERIENCE section */

/* STATISTICS section */

/* FREELANCE section */

/* MY PORTFOLIO section */

/* TESTIMONIALS section */

/* MY BLOGS section */

/* CONTACT ME section */

.row > form {
    width: 600px;
}

/* BOTTOM NAVIGATION section */

/* FOOTER section */
}


    @media ( max-width: 1000px ) {
    .container > .row {
        width: 900px;
        margin: 0 calc((100% - 900px) / 2);
    }
    /* HEADER section */
    .container > .row > nav {
        display: none;
    }
    .header{
        padding: 15px 30px;
        background-color: transparent;
        box-shadow: none;
    }
    .container.header > .row {
        width: 890px;
        margin: 0 calc((100% - 890px) / 2);
    }

    
/* HERO section */
    .hero{
        background-position: 95% 100%;
        background-size: 45vh;
    }
/* ABOUT ME section */
/* MY SERVICES section */
#services > .row > #myServices > .service{
    width: 50%;
} 

/* EDUCATION section */

/* SKILLS section */

    .container > .row > .progress-block {
        width: 100%;
    }

/* EXPERIENCE section */

/* STATISTICS section */

/* FREELANCE section */

/* MY PORTFOLIO section */
/* TESTIMONIALS section */

/* MY BLOGS section */
#blogs > #blog-list{
    display: inline-block;
}

.container > .row > .blog {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
}

/* CONTACT ME section */

.row > form {
    width: 100%;
}

/* BOTTOM NAVIGATION section */

/* FOOTER section */
}

@media ( max-width: 900px ) {
.container > .row {
    width: 740px;
    margin: 0 calc((100% - 740px) / 2);
}
/* HERO section */
.container.header > .row {
    width: 750px;
    margin: 0 calc((100% - 750px) / 2);
}
/* ABOUT ME section */
/* MY SERVICES section */
/* SKILLS section */
/* EXPERIENCE section */
/* STATISTICS section */
/* FREELANCE section */
/* MY PORTFOLIO section */
/* TESTIMONIALS section */
/* MY BLOGS section */
/* CONTACT ME section */
/* BOTTOM NAVIGATION section */
/* FOOTER section */
}


    @media ( max-width: 800px ) {
        /* .container {
            padding: 80px 30px;
        } */
            .container > .row {
                width: 98%;
                margin: 1%;
            }
            .container > .left-link {
                display: none;
            }
            .container > .right-link {
                display: none;
            }


    
/* HERO section */
.hero{
    background-position: 100% 100%;
}
.hero p{
    padding: 0 43% 0 0;
}
.container.header > .row {
    width: 100%;
    margin: 0;
}
/* ABOUT ME section */

.row > .left {
    width: 100%;
}
.row > .right {
    width: 100%;
    margin-top: 20px;
}
.container > .left-link {
    display: none;
}
.container > .right-link {
    display: none;
}

/* MY SERVICES section */

/* EDUCATION section */

/* SKILLS section */

/* EXPERIENCE section */

/* STATISTICS section */

/* FREELANCE section */

/* MY PORTFOLIO section */

/* TESTIMONIALS section */

.row > .righty,
.row > .lefty {
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
}

/* MY BLOGS section */

/* CONTACT ME section */

/* BOTTOM NAVIGATION section */

/* FOOTER section */
}

@media ( max-width: 700px ) {
/* HERO section */

/* ABOUT ME section */

/* MY SERVICES section */

/* EDUCATION section */

/* SKILLS section */

/* EXPERIENCE section */

/* STATISTICS section */

/* FREELANCE section */

/* MY PORTFOLIO section */
/* TESTIMONIALS section */

/* MY BLOGS section */

/* CONTACT ME section */

/* BOTTOM NAVIGATION section */

/* FOOTER section */
}

@media ( max-width: 600px ) {
    .container > .row {
        width: 100%;
        margin: 0;
    }
    .hero{
        background-position: 115% 100%;
        padding: 50px 0px;
    }
        .hero p{
            padding: 0 50% 0 0;
        }

/* HERO section */

/* ABOUT ME section */

/* MY SERVICES section */
#services > .row > #myServices > .service{
    width: 100%;
} 
/* EDUCATION section */

/* SKILLS section */

/* EXPERIENCE section */

/* STATISTICS section */

/* FREELANCE section */

/* MY PORTFOLIO section */
/* TESTIMONIALS section */

/* MY BLOGS section */

/* CONTACT ME section */

.row > form {
    width: 400px;
}
.row > form > .col-6 {
    width: 100%;
}

/* BOTTOM NAVIGATION section */

/* FOOTER section */
}


@media ( max-width: 500px ) {
    .container > .row {
        width: 100%;
        margin: 0;
    }
    .hero{
        background-position: 140% 100%;
        padding: 50px 0px;
        background-size: 40vh;
    }
        .hero p{
            padding: 0 30% 0 0;
        }

/* HERO section */

/* ABOUT ME section */

/* MY SERVICES section */

/* EDUCATION section */

/* SKILLS section */

/* EXPERIENCE section */

/* STATISTICS section */

/* FREELANCE section */

/* MY PORTFOLIO section */
/* TESTIMONIALS section */

/* MY BLOGS section */

/* CONTACT ME section */

.row > form {
    width: 300px;
}
.row > form > .col-6 {
    width: 100%;
}

/* BOTTOM NAVIGATION section */

/* FOOTER section */
}


@media ( max-width: 400px ) {
    .container > .row {
        width: 100%;
        margin: 0;
    }
    .container.header > .row {
        width: 100%;
        margin: 0;
    }
    .container > .row > a > img {
        display: inline-block;
        float: left;
        margin-left: 15px;
    }
    .hero{
        background-position: 150% 100%;
        padding: 50px 0px;
        background-size: 40vh;
    }
        .hero p{
            padding: 0 30% 0 0;
        }
        .hero h1{
            padding: 0 30% 0 0;
            text-align: center;
        }
        .hero h1::after {
            left: calc(30% - 40px);
            margin: 10px 0;
        }
        .hero .heroPart {
            padding: 20px 0;
        }

/* HERO section */

/* ABOUT ME section */

/* MY SERVICES section */

/* EDUCATION section */

/* SKILLS section */

/* EXPERIENCE section */

/* STATISTICS section */

/* FREELANCE section */

/* MY PORTFOLIO section */

/* TESTIMONIALS section */

/* MY BLOGS section */

/* CONTACT ME section */

.row > form {
    width: 250px;
}
.row > form > .col-6 {
    width: 100%;
}

/* BOTTOM NAVIGATION section */

/* FOOTER section */
}

@media ( max-width: 384px ) {
    .container {
        padding: 20px 0;
    }
    .hero{
        background-position: 190% 100%;
        padding: 100px 0px 70px;
    }
        .hero p{
            padding: 0 40% 0 0;
        }

/* HERO section */

/* ABOUT ME section */

/* MY SERVICES section */

/* EDUCATION section */

/* SKILLS section */

/* EXPERIENCE section */

/* STATISTICS section */
#activities > .row > .statistics{
    padding: 0 10px;
}
    #activities > .row > .statistics > .fa{
        font-size: 70px;
        line-height: 60px;
    }
    #activities > .row > .statistics > .number{
        font-size: 35px;
        line-height: 50px;
        padding: 10px 0 0 0;
    }
    #activities > .row > .statistics > .name{
        font-size: 15px;
        line-height: 20px;
        padding: 10px 0 0 0;
    }
/* FREELANCE section */

/* MY PORTFOLIO section */

/* TESTIMONIALS section */

.lefty > .left-inner-second > .just-info,
.righty > .right-inner-second > .just-info {
    margin-top: 0;
}

/* MY BLOGS section */

/* CONTACT ME section */

/* BOTTOM NAVIGATION section */

/* FOOTER section */
}

@media ( max-width: 320px ) {
    .hero{
        background-position: 180% 100%;
        padding: 80px 0px 50px;
    }
        .hero p{
            padding: 0 40% 0 0;
            font-size: 18px;
        }
        .hero h1{
            padding: 0 30% 0 0;
            text-align: center;
            font-size: 38px;
            line-height: 38px;
            text-align: left;
        }
}